In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('AAPLdata.csv')

In [3]:
data

,Date,Open,Close,short,lag1,lag2,lag3,lag4,lag5,s1,s2,s3,s4,s5
0,2013-08-08,16.566429,16.464643,1,16.606428,16.616072,16.766071,16.519285,16.309999,16.606428,8.308036,5.588690,4.129821,3.262000
1,2013-08-09,16.379999,16.230356,1,16.464643,16.606428,16.616072,16.766071,16.519285,16.464643,8.303214,5.538691,4.191518,3.303857
2,2013-08-12,16.316429,16.691429,0,16.230356,16.464643,16.606428,16.616072,16.766071,16.230356,8.232322,5.535476,4.154018,3.353214
3,2013-08-13,16.819286,17.484644,0,16.691429,16.230356,16.464643,16.606428,16.616072,16.691429,8.115178,5.488214,4.151607,3.323214
4,2013-08-14,17.781429,17.803572,0,17.484644,16.691429,16.230356,16.464643,16.606428,17.484644,8.345715,5.410119,4.116161,3.321286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2023-07-25,193.330002,193.619995,0,192.750000,191.940002,193.130005,195.100006,193.729996,192.750000,95.970001,64.376668,48.775002,38.745999
2507,2023-07-26,193.669998,194.500000,0,193.619995,192.750000,191.940002,193.130005,195.100006,193.619995,96.375000,63.980001,48.282501,39.020001
2508,2023-07-27,196.020004,193.220001,1,194.500000,193.619995,192.750000,191.940002,193.130005,194.500000,96.809998,64.250000,47.985001,38.626001
2509,2023-07-28,194.669998,195.830002,0,193.220001,194.500000,193.619995,192.750000,191.940002,193.220001,97.250000,64.539998,48.187500,38.388000
2510,2023-07-31,196.059998,196.449997,0,195.830002,193.220001,194.500000,193.619995,192.750000,195.830002,96.610001,64.833333,48.404999,38.550000

In [5]:
data.corr

<bound method DataFrame.corr of             Date        Open       Close  short        lag1        lag2  \
0     2013-08-08   16.566429   16.464643      1   16.606428   16.616072
1     2013-08-09   16.379999   16.230356      1   16.464643   16.606428
2     2013-08-12   16.316429   16.691429      0   16.230356   16.464643
3     2013-08-13   16.819286   17.484644      0   16.691429   16.230356
4     2013-08-14   17.781429   17.803572      0   17.484644   16.691429
...          ...         ...         ...    ...         ...         ...
2506  2023-07-25  193.330002  193.619995      0  192.750000  191.940002
2507  2023-07-26  193.669998  194.500000      0  193.619995  192.750000
2508  2023-07-27  196.020004  193.220001      1  194.500000  193.619995
2509  2023-07-28  194.669998  195.830002      0  193.220001  194.500000
2510  2023-07-31  196.059998  196.449997      0  195.830002  193.220001

            lag3        lag4        lag5          s1         s2         s3  \
0      16.766071   16.519285   16.309999   16.606428   8.308036   5.588690
1      16.616072   16.766071   16.519285   16.464643   8.303214   5.538691
2      16.606428   16.616072   16.766071   16.230356   8.232322   5.535476
3      16.464643   16.606428   16.616072   16.691429   8.115178   5.488214
4      16.230356   16.464643   16.606428   17.484644   8.345715   5.410119
...          ...         ...         ...         ...        ...        ...
2506  193.130005  195.100006  193.729996  192.750000  95.970001  64.376668
2507  191.940002  193.130005  195.100006  193.619995  96.375000  63.980001
2508  192.750000  191.940002  193.130005  194.500000  96.809998  64.250000
2509  193.619995  192.750000  191.940002  193.220001  97.250000  64.539998
2510  194.500000  193.619995  192.750000  195.830002  96.610001  64.833333

             s4         s5
0      4.129821   3.262000
1      4.191518   3.303857
2      4.154018   3.353214
3      4.151607   3.323214
4      4.116161   3.321286
...         ...        ...
2506  48.775002  38.745999
2507  48.282501  39.020001
2508  47.985001  38.626001
2509  48.187500  38.388000
2510  48.404999  38.550000

[2511 rows x 14 columns]>

In [23]:
data['Date'][1]

'2013-08-09'

In [24]:
from datetime import datetime

def get_week_number(date_string):
    try:
        date_obj = datetime.strptime(date_string, '%Y-%m-%d')
        year, week_number, _ = date_obj.isocalendar()
        
        return year, week_number
    except ValueError:
        return None

date_string = '2013-08-09'
result = get_week_number(date_string)
if result:
    year, week_number = result
    print(f'Year: {year}, Week Number: {week_number}')
else:
    print('Invalid date format.')

Year: 2013, Week Number: 32

In [26]:
get_week_number(data['Date'][1])[1]

32

In [31]:
x = []
y = []
for i in range(len(data)):
    x.append(get_week_number(data['Date'][i])[1])
    y.append(get_week_number(data['Date'][i])[0])

In [32]:
x

[32,
 32,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 53,
 53,
 53,
 53,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 ...]

In [33]:
y

[2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 ...]

In [34]:
data['week'] = x
data['year'] = y
data

,Date,Open,Close,short,lag1,lag2,lag3,lag4,lag5,s1,s2,s3,s4,s5,x,week,year
0,2013-08-08,16.566429,16.464643,1,16.606428,16.616072,16.766071,16.519285,16.309999,16.606428,8.308036,5.588690,4.129821,3.262000,2013-08-08,32,2013
1,2013-08-09,16.379999,16.230356,1,16.464643,16.606428,16.616072,16.766071,16.519285,16.464643,8.303214,5.538691,4.191518,3.303857,2013-08-09,32,2013
2,2013-08-12,16.316429,16.691429,0,16.230356,16.464643,16.606428,16.616072,16.766071,16.230356,8.232322,5.535476,4.154018,3.353214,2013-08-12,33,2013
3,2013-08-13,16.819286,17.484644,0,16.691429,16.230356,16.464643,16.606428,16.616072,16.691429,8.115178,5.488214,4.151607,3.323214,2013-08-13,33,2013
4,2013-08-14,17.781429,17.803572,0,17.484644,16.691429,16.230356,16.464643,16.606428,17.484644,8.345715,5.410119,4.116161,3.321286,2013-08-14,33,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2023-07-25,193.330002,193.619995,0,192.750000,191.940002,193.130005,195.100006,193.729996,192.750000,95.970001,64.376668,48.775002,38.745999,2023-07-25,30,2023
2507,2023-07-26,193.669998,194.500000,0,193.619995,192.750000,191.940002,193.130005,195.100006,193.619995,96.375000,63.980001,48.282501,39.020001,2023-07-26,30,2023
2508,2023-07-27,196.020004,193.220001,1,194.500000,193.619995,192.750000,191.940002,193.130005,194.500000,96.809998,64.250000,47.985001,38.626001,2023-07-27,30,2023
2509,2023-07-28,194.669998,195.830002,0,193.220001,194.500000,193.619995,192.750000,191.940002,193.220001,97.250000,64.539998,48.187500,38.388000,2023-07-28,30,2023
2510,2023-07-31,196.059998,196.449997,0,195.830002,193.220001,194.500000,193.619995,192.750000,195.830002,96.610001,64.833333,48.404999,38.550000,2023-07-31,31,2023

In [38]:
data.drop(['x'], axis = 1)

,Date,Open,Close,short,lag1,lag2,lag3,lag4,lag5,s1,s2,s3,s4,s5,week,year
0,2013-08-08,16.566429,16.464643,1,16.606428,16.616072,16.766071,16.519285,16.309999,16.606428,8.308036,5.588690,4.129821,3.262000,32,2013
1,2013-08-09,16.379999,16.230356,1,16.464643,16.606428,16.616072,16.766071,16.519285,16.464643,8.303214,5.538691,4.191518,3.303857,32,2013
2,2013-08-12,16.316429,16.691429,0,16.230356,16.464643,16.606428,16.616072,16.766071,16.230356,8.232322,5.535476,4.154018,3.353214,33,2013
3,2013-08-13,16.819286,17.484644,0,16.691429,16.230356,16.464643,16.606428,16.616072,16.691429,8.115178,5.488214,4.151607,3.323214,33,2013
4,2013-08-14,17.781429,17.803572,0,17.484644,16.691429,16.230356,16.464643,16.606428,17.484644,8.345715,5.410119,4.116161,3.321286,33,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2023-07-25,193.330002,193.619995,0,192.750000,191.940002,193.130005,195.100006,193.729996,192.750000,95.970001,64.376668,48.775002,38.745999,30,2023
2507,2023-07-26,193.669998,194.500000,0,193.619995,192.750000,191.940002,193.130005,195.100006,193.619995,96.375000,63.980001,48.282501,39.020001,30,2023
2508,2023-07-27,196.020004,193.220001,1,194.500000,193.619995,192.750000,191.940002,193.130005,194.500000,96.809998,64.250000,47.985001,38.626001,30,2023
2509,2023-07-28,194.669998,195.830002,0,193.220001,194.500000,193.619995,192.750000,191.940002,193.220001,97.250000,64.539998,48.187500,38.388000,30,2023
2510,2023-07-31,196.059998,196.449997,0,195.830002,193.220001,194.500000,193.619995,192.750000,195.830002,96.610001,64.833333,48.404999,38.550000,31,2023

In [40]:
data[['Open', 'Close', 'week', 'year']].corr()

           Open     Close      week      year
Open   1.000000  0.999671 -0.027588  0.904572
Close  0.999671  1.000000 -0.028033  0.904834
week  -0.027588 -0.028033  1.000000 -0.144777
year   0.904572  0.904834 -0.144777  1.000000

In [44]:
d1 = data[['Open', 'Close', 'week', 'year']].groupby(['year','week'])
d1.first()

                 Open       Close
year week
2013 32     16.566429   16.464643
     33     16.316429   16.691429
     34     18.012142   18.133572
     35     17.883928   17.963215
     36     17.610714   17.449286
...               ...         ...
2023 27    193.779999  192.460007
     28    189.259995  188.610001
     29    191.899994  193.990005
     30    193.410004  192.750000
     31    196.059998  196.449997

[522 rows x 2 columns]

In [52]:
d1.get_group((2022, 2))['Close'].median()

173.07000732421875

In [54]:
df = data[['Open', 'Close', 'week', 'year']]
mean_closed = []
median_closed = []

for i in range(len(data)):
    cur_year = data['year'][i]
    cur_week = data['week'][i]
    s = d1.get_group((cur_year, cur_week))
    mean_closed.append(s['Close'].mean())
    median_closed.append(s['Close'].median())

In [55]:
df['mean_closed'] = mean_closed
df['median_closed'] = median_closed

<ipython-input-55-313705de4db8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean_closed'] = mean_closed
<ipython-input-55-313705de4db8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['median_closed'] = median_closed

In [56]:
df

            Open       Close  week  year  mean_closed  median_closed
0      16.566429   16.464643    32  2013    16.347500      16.347500
1      16.379999   16.230356    32  2013    16.347500      16.347500
2      16.316429   16.691429    33  2013    17.540500      17.782499
3      16.819286   17.484644    33  2013    17.540500      17.782499
4      17.781429   17.803572    33  2013    17.540500      17.782499
...          ...         ...   ...   ...          ...            ...
2506  193.330002  193.619995    30  2023   193.984000     193.619995
2507  193.669998  194.500000    30  2023   193.984000     193.619995
2508  196.020004  193.220001    30  2023   193.984000     193.619995
2509  194.669998  195.830002    30  2023   193.984000     193.619995
2510  196.059998  196.449997    31  2023   196.449997     196.449997

[2511 rows x 6 columns]

In [57]:
df.corr()

,Open,Close,week,year,mean_closed,median_closed
Open,1.000000,0.999671,-0.027588,0.904572,0.999609,0.999572
Close,0.999671,1.000000,-0.028033,0.904834,0.999634,0.999586
week,-0.027588,-0.028033,1.000000,-0.144777,-0.028044,-0.027187
year,0.904572,0.904834,-0.144777,1.000000,0.905165,0.905195
mean_closed,0.999609,0.999634,-0.028044,0.905165,1.000000,0.999951
median_closed,0.999572,0.999586,-0.027187,0.905195,0.999951,1.000000

In [60]:
df['close_lag1'] = df['Close'].shift(periods = -1)
df

<ipython-input-60-d5acdaba49f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['close_lag1'] = df['Close'].shift(periods = -1)

,Open,Close,week,year,mean_closed,median_closed,close_lag1
0,16.566429,16.464643,32,2013,16.347500,16.347500,16.230356
1,16.379999,16.230356,32,2013,16.347500,16.347500,16.691429
2,16.316429,16.691429,33,2013,17.540500,17.782499,17.484644
3,16.819286,17.484644,33,2013,17.540500,17.782499,17.803572
4,17.781429,17.803572,33,2013,17.540500,17.782499,17.782499
...,...,...,...,...,...,...,...
2506,193.330002,193.619995,30,2023,193.984000,193.619995,194.500000
2507,193.669998,194.500000,30,2023,193.984000,193.619995,193.220001
2508,196.020004,193.220001,30,2023,193.984000,193.619995,195.830002
2509,194.669998,195.830002,30,2023,193.984000,193.619995,196.449997
2510,196.059998,196.449997,31,2023,196.449997,196.449997,NaN